body {
  margin: 0;
  background-color: #00bfff;
  background-image: url('/images/simple_bamboo.jpeg');
}


.jumbotron {
  height: 100%;
  background-image: url('/images/simple_bamboo.jpeg');
}

#newSnippetForm {
  font: blue;
}

}

.title  {
  text-align: center;
}


#submitbtn {
  text-align: center;
  color: blue;
  background-color: blue;
}

#snippets {
  text-align: center;
}

.text-center {
  text-align: center;
  margin: 10px;
  font-size: 55px;
}
